<html>
<body>
    <h3>Heart Health</h3>
<div>
  <form action="/predict" method="POST">
   <label for="age"> Age: </label>
   <input type="number" step="0.01" id="age" name="age">
   <br>
   <label for="sex"> Sex:  </label>
   <input type="number" step="0.01" id="sex" name="sex">
   <br>
   <label for="cp"> Chest Pain Type:</label>
   <input type="number" step="0.01" id="cp" name="cp">
   <br>
   <label for="trestbps"> Rest Blood Pressure: </label>
   <input type="number" step="0.001" id="trestbps" name="trestbps">
   <br>
   <label for="chol"> Cholesterol: </label>
   <input type="number" step="0.001" id="chol" name="chol">
   <br>
   <label for="fbs"> Fasting Blood Sugar: </label>
   <input type="number" step="0.001" id="fbs" name="fbs">
   <br>
   <label for="restecg"> Resting Electrocardiographic Results: </label>
   <input type="number" step="0.001" id="restecg" name="restecg">
   <br>
   <label for="thalach"> Maximum Heart Rate: </label>
   <input type="number" step="0.001" id="thalach" name="thalach">
   <br>
   <label for="exang"> Exercise-Induced Angina: </label>
   <input type="number" step="0.001" id="exang" name="exang">
   <br>
   <label for="oldpeak"> ST (depression induced by exercise relative to rest): </label>
   <input type="number" step="0.001" id="oldpeak" name="oldpeak">
   <br>
   <label for="slope"> Slope (slope of the peak exercise ST segment.) : </label>
   <input type="number" step="0.001" id="slope" name="slope">
   <br>
   <label for="ca"> No. of major vessels (0-3) (by Fluoroscopy) : </label>
   <input type="number" step="0.001" id="ca" name="ca">
   <br>
   <label for="thal"> 1-Normal; 2-Fixed Defect; 3-Reversible Defect : </label>
   <input type="number" step="0.001" id="thal" name="thal">
   <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>